{% extends 'MagBundle::base.html.twig' %}
{% block title %} Habillage {% endblock %}

{% block body %}

    <h3> Habillage </h3>

    <div class="container">
        <form action="{{ path('habillage_edit',{'id': ids }) }}" {{ form_enctype(form) }} method="POST" >
            {{ form_widget(form) }}
            <br><br>

            {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
            {#<input class="btn btn-primary" type="submit" value="Enregistrer" />#}
        </form>

    </div>

{% endblock %}