{% extends 'MagBundle::base.html.twig' %}
{% block title %} Ajout d'un Professionnel {% endblock %}

{% block body %}
   <h3> Ajouter des professionnels</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}



{% endblock %}