<div class="col-xs-10 col-md-12 no-margin input-engine"><!--input-->
                                    <div class="col-xs-12 col-md-5 form-group left-inner-addon">

                                    	
                                        <i class="fa fa-search"></i>
                                        <input type="text" class="form-control" name="string" id="string" tabindex="1" autocomplete="off" placeholder="Qui,quoi? (raison sociale ou activité)" onkeyup="ajax_qui_quoi(this,event)" value="">
                                    	
                                        <div id="search_qui_quoi_autocomplete_indicator"></div>
        								<div id="ajax_list_qui_quoi" class="col-xs-11 no-margin"></div>

                                    </div><!--/quiquoi-->
                                    <div class="col-xs-12 col-md-5 form-group left-inner-addon">

                                    	
                                        <i id="icon-engine" class="fa fa-location-arrow"></i>
                                        <input type="text" class="form-control" name="ou" id="ou" tabindex="1" autocomplete="off" placeholder="Où? (Casablanca)" onkeyup="ajax_ou(this,event)" value="">
                                       
                                        <div id="ou-div">
                                            <div id="search_ou_autocomplete_indicator"></div>
            								<div id="ajax_list_ou"></div>
                                        </div>
                                        
                                        <div class="a-proximite text-right"><label><input type="checkbox" id="aproximite_checked" name="aproximite_checked" value="0"> À proximité</label></div>
                                        
                                        <div class="clearfix visible-sm-block visible-md-block line-engine"></div>

                                        <div id="aproximite" style="display: none;">

        	                            	<i id="icon-engine" class="fa fa-street-view"></i>

        		                            <input type="text" class="form-control" name="aproximite" id="aproximitede" tabindex="1" autocomplete="off" placeholder="Société, emplacement...?" onkeyup="ajax_aproximite(this,event)" value="">
        									<div id="aproximite-div">
        		                                    <div id="search_aproximite_autocomplete_indicator"></div>
        		    								<div id="ajax_list_aproximite"></div>
        		                            </div>

        	                            </div><!--/aproximite-->
        								 

                                    </div><!--/ou-->

                                    <button type="submit" class="hidden-xs btn btn-primary btn_search col-md-2" onclick="pageTracker._trackEvent('Trouver', 'Trouver', 'accueil', 1);"><i class="fa fa-search"></i>  <span class="btn-find">Trouver</span></button>

                                </div>